/*Applied to all bodies*/
body {
    background-image: url(background.jpg);
    background-size: 100%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

/*Applied to all headers*/
header {
    color: black;
    font-family: 'Maven Pro', sans-serif;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

/*Fade-in effect when opening website*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Specific for UserCommands input*/
#UserCommands {
    width: 450px;
    height: 300px;
    background: rgba(33, 38, 39, 0.5);
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    transform: translate(10%, -10%);
    color: white;
}

/*Specific for DrroneStatus input*/
#DroneStatus {
    width: 335px;
    height: 300px;
    background: rgba(33, 38, 39, 0.5);
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    transform: translate(-110%, -10%);
    color: white;
}

/*Applied to all submits*/
input[type=button] {
    width: 260px;
    height: 35px;
    background: rgba(33, 38, 39, 0.5);
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/*Effects for submit buttons*/
input[type=button]:hover {
    background-color: #707070
}
input[type=button]:active {
    background-color: #707070;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Applied to all text inputs*/
input[type=text] {
    width: 260px;
    height: 35px;
    background: rgba(33, 38, 39, 0.5);
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/*Applied to all labels*/
label {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#statuslabel {
    padding: 10px;
    position: fixed;
    bottom: 20px;
    transform: translate(-200%, -860%);
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#commandloglabel {
    padding: 10px;
    position: fixed;
    bottom: 20px;
    transform: translate(55%, -860%);
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
